**/node_modules
**/.git
**/.idea
**/.vscode
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/venv
**/.env
**/.venv
**/dist
**/build
**/.next
**/docker_data
**/postgres_data
**/opensearch_data
**/neo4j_data
**/ollama_data
**/target
**/.m2
